Microservicios/schemas/auth_token.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="LoginResponse" type="AuthTokenType"/>

  <xs:complexType name="AuthTokenType">
    <xs:sequence>
      <xs:element name="access_token" type="xs:string"/>
      <xs:element name="refresh_token" type="xs:string"/>
      <xs:element name="expires_in" type="xs:positiveInteger"/>
      <xs:element name="token_type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
