Microservicios/schemas/organization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Organization" type="OrganizationType"/>

  <xs:complexType name="SettingsType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrganizationType">
    <xs:sequence>
      <xs:element name="id" type="xs:positiveInteger"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="logo_url" type="xs:anyURI" minOccurs="0"/>
      <xs:element name="policies" type="xs:string" minOccurs="0"/>
      <xs:element name="contact_email" type="xs:string" minOccurs="0"/>
      <xs:element name="contact_phone" type="xs:string" minOccurs="0"/>
      <xs:element name="settings" type="SettingsType" minOccurs="0"/>
      <xs:element name="updated_at" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
