Microservicios/schemas/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="User" type="UserType"/>

  <xs:complexType name="PreferencesType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element name="id" type="UUIDType"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="first_name" type="xs:string" minOccurs="0"/>
      <xs:element name="last_name" type="xs:string" minOccurs="0"/>
      <xs:element name="role" type="RoleType"/>
      <xs:element name="organization_id" type="xs:positiveInteger"/>
      <xs:element name="preferences" type="PreferencesType" minOccurs="0"/>
      <xs:element name="created_at" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="updated_at" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="admin"/>
      <xs:enumeration value="manager"/>
      <xs:enumeration value="user"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
