Microservicios/schemas/xsd/device.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="device" type="DeviceType"/>

  <xs:complexType name="DeviceType">
    <xs:sequence>
      <xs:element name="id" type="UUIDType"/>
      <xs:element name="serial_number" type="xs:string"/>
      <xs:element name="device_type" type="DeviceTypeInfo"/>
      <xs:element name="status" type="DeviceStatusType"/>
      <xs:element name="assigned_patient_id" type="UUIDType" minOccurs="0"/>
      <xs:element name="signal_streams" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="signal_stream" type="SignalStreamType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="last_seen_at" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="created_at" type="xs:dateTime"/>
      <xs:element name="updated_at" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeviceTypeInfo">
    <xs:sequence>
      <xs:element name="id" type="UUIDType"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="label" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SignalStreamType">
    <xs:sequence>
      <xs:element name="id" type="UUIDType"/>
      <xs:element name="signal_type" type="xs:string"/>
      <xs:element name="sampling_rate" type="xs:decimal" minOccurs="0"/>
      <xs:element name="timeseries_binding" type="TimeseriesBindingType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TimeseriesBindingType">
    <xs:sequence>
      <xs:element name="bucket" type="xs:string"/>
      <xs:element name="measurement" type="xs:string"/>
      <xs:element name="retention_policy" type="xs:string"/>
      <xs:element name="tags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tag" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="name" type="xs:string" use="required"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DeviceStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active"/>
      <xs:enumeration value="inactive"/>
      <xs:enumeration value="maintenance"/>
      <xs:enumeration value="retired"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
