Microservicios/schemas/xsd/patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="patient" type="PatientType"/>

  <xs:complexType name="PatientType">
    <xs:sequence>
      <xs:element name="id" type="UUIDType"/>
      <xs:element name="first_name" type="xs:string"/>
      <xs:element name="last_name" type="xs:string"/>
      <xs:element name="middle_name" type="xs:string" minOccurs="0"/>
      <xs:element name="birth_date" type="xs:date"/>
      <xs:element name="sex" type="SexType"/>
      <xs:element name="contact" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="address" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="care_team_ids" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="care_team_id" type="UUIDType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="risk_level" type="RiskLevelType" minOccurs="0"/>
      <xs:element name="created_at" type="xs:dateTime"/>
      <xs:element name="updated_at" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SexType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="male"/>
      <xs:enumeration value="female"/>
      <xs:enumeration value="other"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RiskLevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="low"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="high"/>
      <xs:enumeration value="critical"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
