Microservicios/schemas/xsd/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="user" type="UserType"/>

  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element name="id" type="UUIDType"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="status" type="UserStatusType"/>
      <xs:element name="roles" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="role" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="preferences" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="language" type="xs:string" minOccurs="0"/>
            <xs:element name="timezone" type="xs:string" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="notifications" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="organization_id" type="UUIDType" minOccurs="0"/>
      <xs:element name="created_at" type="xs:dateTime"/>
      <xs:element name="updated_at" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active"/>
      <xs:enumeration value="invited"/>
      <xs:enumeration value="disabled"/>
      <xs:enumeration value="pending"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
